{% extends "base.html" %}
{% block title %}Opis projektu{% endblock %}
{% block content %}
                    <h3>Cel Programu:</h3>
                    <td>Program ma na celu pobieranie opinii o produktach z serwisu Ceneo.pl. Prezentuje opinie oraz podstawowe statystyki dotyczące nich.</td>
                <div class="">
                    <h3>Opis działania programu:</h3>
                    <td>Po wprowadzeniu kodu produktu otrzymujemy opinie na jego temat z serwisu Ceneo.pl. Dostajemy statystykę dotyczącą produktu, którą mozemy pobrać.</td>
                </div>
                <div class="">
                    <h3>Zastosowane biblioteki:</h3>
                    <ul>
                        <li>BeatifulSoup</li>
                        <li>Requests</li>
                        <li>Json</li>
                        <li>Os</li>
                        <li>Pandas</li>
                        <li>Numpy</li>
                        <li>Matplotlib</li>
                    </ul>
                </div>
                <div class="">
                    <h3>Zastosowane podejścia:</h3>
                    <td></td>
                    