<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>CeneoWebScraper</title>
</head>
<body>
    <header class="conainer">
        <h1 class="text-center">CeneoWebScraper</h1>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-4">
                    <div class="list-group">
                        <a href="extraction.html" class="list-group-item list-group-item-dark"><i class="bi bi-list-nested"></i> Ekstracja opinii</a>
                        <a href="./products_list.html" class="list-group-item list-group-item-dark"><i class="bi bi-bag-check"></i> Lista produktów</a>
                        <a href="./main.html" class="list-group-item list-group-item-dark"><i class="bi bi-house"></i> Strona główna</a>
                        <a href="./main.html" class="list-group-item list-group-item-dark"><i class="bi bi-person-circle"></i> O Autorze</a>
                      </div>
            </div>
            <div class="col-8">
                <div class="">
                    <h3>Cel Programu:</h3>
                    <td>Program ma na celu pobieranie opinii o produktach z serwisu Ceneo.pl. Prezentuje opinie oraz podstawowe statystyki dotyczące nich.</td>
                <div class="">
                    <h3>Opis działania programu:</h3>
                    <td>Po wprowadzeniu kodu produktu otrzymujemy opinie na jego temat z serwisu Ceneo.pl. Dostajemy statystykę dotyczącą produktu, którą mozemy pobrać.</td>
                </div>
                <div class="">
                    <h3>Zastosowane biblioteki:</h3>
                    <ul>
                        <li>BeatifulSoup</li>
                        <li>Requests</li>
                        <li>Json</li>
                        <li>Os</li>
                        <li>Pandas</li>
                        <li>Numpy</li>
                        <li>Matplotlib</li>
                    </ul>
                </div>
                <div class="">
                    <h3>Zastosowane podejścia:</h3>
                    <td></td>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>
</html>