{% extends 'base.html' %}
{% block title %}Opis projektu {% endblock %}
{% block content %}
                    <thead>
                      <tr>
                        <th scope="col">Numer Produktu</th>
                        <th scope="col">Nazwa Produktu</th>
                        <th scope="col">Liczba Opinii</th>
                        <th scope="col">Liczba Wad</th>
                        <th scope="col">Liczba Zalet</th>
                        <th scope="col">Średnia Ocena</th>
                        <th scope="col">Pobierz</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">112233</th>
                        <td>
                            <a href="product_site.html" >Produkt1</a>
                        </td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>5.0</td>
                        <td>
                            <button type="button" class="btn btn-primary">CSV</button>
                            <button type="button" class="btn btn-primary">JSON</button>
                            <button type="button" class="btn btn-primary">XLSX</button>
                        </td>
                      </tbody>
 {% endblock %}
 